<p>home works!</p>
<!-- <h2>hello {{ name }}</h2>
<input value="{{ name }}">
<br/>
<br/>
<input value="name">
<input [value] ="name" title =" day la  {{ name }}"/>
<input [value] ="name" [title] =" 'day la' + name"/>
<h2 *ngIf="age >18"> old</h2>
<h2 *ngIf="age <= 18"> young</h2>
<button (click)="resetName()">Reset Tên</button>

<input type="text" [(ngModel)]="name">


<div *ngIf="age <18; then tre; else gia"></div>
<ng-template #tre>trẻ quá đi<h2></h2></ng-template>
<ng-template #gia><h2>già quá đi</h2></ng-template> -->


<h1>Trái cây</h1> 
<div class="test"> 
    <div *ngFor="let trais of traiCay;let i =index" > 
        
        <li>{{i+1}}.{{trais}}</li> 
    </div>
</div>
<table id="table ">
    <tr>
        <th>Stt</th>
        <th>Ten</th>
        <th>Gia</th>
        <th>DaiHaGia</th>
    </tr>
    <tr *ngFor="let trai of traiCay2; let i = index">
        <td>{{i+1}}</td>
        <td>{{ trai.ten | lowercase }}</td>
        <td>
            <span [ngClass]="{'so-am':trai.gia <0}">
                {{trai.gia | currency:"VND":"symbol-narrow":"4.2-2"}}
            </span>
            
        </td>
        <td>
            <span>{{trai.haGia | onSale | uppercase}}</span>
        </td>
    </tr>


</table>
tinh,thanh pho
<select  id="city" (change)="changeCity($event)">
    <option *ngFor="let data of vietnamData" value="{{ data.city }}">{{ data.city }}</option>
</select> 
quan,huyen
<select  id="district">
    <option *ngFor="let district of districts" value="{{ district}}">{{district}}</option>
</select> 